html, body {
    background-color: #21232a;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    padding: 10px;
}

button {
    font-size: 1.3rem;
    margin-right: 10px;
    padding: 10px;
}